%h1= @match.name
%h3= @match.game


.row
  - @match.pots.each do |pot|

    .col-lg-6
      %div
        %h1 Bets for #{pot.name}
      .pull-right

        %h3
          TOTAL :
          = pot.total_received

      %table.table
        %tr
          %th Address
          %th Value
        - pot.show_transactions["txs"].each do |tx|
          - tx['inputs'].each do |input|
            %tr
              %td= input['prev_out']['addr']
              %td= BigDecimal(input['prev_out']['value']) / (10 ** 8)



